div {
    border-style: solid;
    border-color: lightskyblue;
    width: fit-content;
}
ul{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
li {
    background-color: lightskyblue;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.second {
    background-color: lightsalmon;
}
.purple{
    background-color: purple;
}